@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");

*{
    margin: 0;
    padding: 0;
    border: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    line-height: inherit;
    background-color: transparent;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    background: #19191b;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #656565;
}

.pageheader{
    background-image: url(../images/header-hero-back.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    min-height: 175px;
}
.pageheader.home{
    min-height: 480px;
    padding-top: 222px;
}

.content-wrapper img{
    width: 100%;
}

#home-header{
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
}

.pageheader::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #151515;
    opacity: .95;
}

#header-content{
    position: relative;
    padding: 0 20px;
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
}

#home-header-logo{
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 501;
    line-height: 50px;
}

#home-header-logo a.logo{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 150%;
}

#home-header-social{
    list-style: none;
    font-size: 2.3rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
    top: 12px;
}

#home-header-social li {
    display: inline-block;
    margin-right: 5px;
    padding-left: 0;
}

#home-header-social li .fa{
    color: #ffffff;
}


.home-header-nav{
    margin-top: 15px;
    border-top: 1px solid rgba(255,255,255,.04);
    padding-top: 15px;
}

.home-header-nav .header-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 1.6rem;
}

.home-header-nav .header-nav li{
    display: inline-block;
    position: relative;
    padding: 0 2rem;
}

.home-header-nav .header-nav li a{
    display: block;
    color: rgba(255,255,255,.6);
    line-height: 39px;
    text-decoration: none;
}

.home-header-nav .header-nav li a:hover, .home-header-nav .header-nav li a.active{
    color: #ffffff;
}

.home-header-hearo{
    overflow: hidden;
    padding: 0 75px;
    max-width: 1350px;
    width: 94%;
    margin: 0 auto;
}

.home-header-hearo .featured{
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    background-color: #151515;
    height: 564px;
    position: relative;
}

.featured::before {
    left: -75px;
}
.featured::after {
    right: -75px;
}
.featured::before, .featured::after {
    content: "";
    display: block;
    height: 1px;
    width: 60px;
    background-color: rgba(255,255,255,.15);
    position: absolute;
    top: 50%;
}

.featured-column{
    float: left;
}

.featured-column-big{
    width: 66.66666%;
    position: relative;
}

.featured-column-small{
    width: 33.333333333%;
    position: relative;
}

.featured-column-big .home-main{
    height: 564px;
    background-image: url(../images/verdun-war-battle-pic1.PNG);
}

.featured .home-main, .featured .home-secondary{
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.featured .home-main::before, .featured .home-secondary::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: .3;
    background-color: #151515;
}

.featured .featured-column:hover{
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: .6;
}

.featured .home-main-content {
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    padding: 0 20% 0 6rem;
    display: block;
    box-sizing: border-box;
}

.featured .home-main h1 {
    font-size: 2.5rem;
    line-height: 1.333;
    margin-top: 0;
    margin-bottom: 3rem;
}

.featured .home-main-content h1 a {
    color: #fff;
    border-bottom: 1px solid transparent;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.featured-column-small .home-secondary{
    height: 282px;
}

.featured-column-small .home-secondary.one{
    background-image: url(../images/verdun-war-battle-landscape-impact-today.jpg);
}

.featured-column-small .home-secondary.two{
    background-image: url(../images/verdun-war-battle-national-identity-france.jpg);
}

.featured-column-small .home-main-content{
    bottom: 2.4rem;
    padding: 0 10% 0 3rem;
}

.featured-column-small .home-main-content h1 {
    font-size: 1rem;
    margin-bottom: 0rem;
}

.p-content{
    background-color: #f2f2f2;
    padding-top:4.4rem;
}

.p-content .content-wrapper{
    margin: 0 auto;
    max-width: 1350px;
    width: 94%;
}

.main-wrapper {
    background: url(../images/timeline.png) repeat-y 36px top;
    padding: 50px 0;
}

.post-outer {
    padding-left: 130px;
    position: relative;
    margin-bottom: 50px;
}

.hentry {
    background: #fff;
    padding: 20px 20px 0;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px #ddd;
}

.box-illustration{
    width: 100%;
    max-width: 100%;
    padding-bottom: 10px;
}

.videobox {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.arrow-left {
    width: 23px;
    height: 36px;
    background: url(../images/arror.png) no-repeat left center;
    position: absolute;
    top: 25px;
    left: 110px;
}

.month, .day{
    display: block;
}

.hentry h3.post-title {
    margin-bottom: 20px;
    margin-top: 7px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.hentry h3.post-title, .hentry h3.post-title a, .hentry h3.post-title a:visited {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #444444;
    text-decoration: none;
}

ul.post-header-line-one {
    width: 80px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 16px;
}

ul.post-header-line-one li.date-header {
    width: 70px;
    height: 70px;
    border-radius: 1000px;
    border: 5px solid #ddd;
    background: #fff;
    overflow: hidden;
    margin-bottom: 40px;
}

li.date-header .day {
    font-size: 1.4rem;
}

.enclosure {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.footer-wrapper {
    border-top: 5px solid #ddd;
    padding: 40px 0 30px;
    width: 100%;
    color: #ddd;
    font-size: 1.2rem;
    line-height: 1.6em;
    min-height: 150px;
}

.s-footer__main {
    margin-bottom: 3.6rem;
}

.row {
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-two {
    width: 16.66667%;
}

.col-six {
    width: 50%;
}
.col-full {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 0 20px;
}

[class*="col-"]+[class*="col-"].end {
    float: right;
}
.col-five {
    width: 41.66667%;
}

footer h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.286;
    text-transform: uppercase;
    letter-spacing: .25rem;
    padding-bottom: 1rem;
    color: #fff;
    margin-top: 0;
    position: relative;
}

footer h4::after {
    content: "";
    display: block;
    height: 1px;
    width: 120px;
    background-color: rgba(255,255,255,.1);
    position: absolute;
    left: 0;
    bottom: 0;
}

.s-footer__linklist a {
    color: rgba(255,255,255,.4);
    font-size: 1.4rem;
}

.s-footer__linklist a:hover{
    color: #ffffff;
}

footer p{
    margin-bottom: 3rem;
    font-size: 1.4rem;
}

.s-footer__subscribe .subscribe-form {
    margin: 0;
    padding: 0;
    position: relative;
}

.s-footer__subscribe #mc-form {
    width: 100%;
}

.s-footer__subscribe #mc-form input[type="email"] {
    width: 100%;
    font-size: 1rem;
    padding: 1.2rem 100px 1.2rem 60px;
    margin-bottom: 1.8rem;
    color: rgba(255,255,255,.5);
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.1);
}

input[type="submit"]{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    height: 3.1rem;
    padding: 0 3rem;
    margin: 0 0.3rem 1.2rem 0;
    color: #000;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #c5c5c5;
    border: 0.2rem solid #c5c5c5;
}

.s-footer__subscribe #mc-form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: #0054a5;
    border-color: #0054a5;
    padding: 0 15px;
    border-radius: 0 3px 3px 0;
}

.details{
    color: #000;
}

.details p{
    max-width: 800px;
    margin: auto;
}

.details figure{
    text-align: center;
}
.details h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.details h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

h3{
    margin-top: 6rem;
    margin-bottom: 1.8rem;
}

.details h3{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

p.lead {
    margin-bottom: 3.6rem;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
}

p{
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    line-height: 1.8;
}

.s-content__main {
    margin-top: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    max-width: 800px;
    margin: 0 auto;
}

.col-six p{
    max-width: 100%;
}

section::after{
    content: ""; 
    clear: both; 
    display: table;
}

#cForm {
    margin-top: 3.6rem;
}

fieldset {
    border: none;
}
fieldset {
    margin-bottom: 1.5rem;
}
fieldset {
    margin: 0;
    padding: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    display: block;
    padding: 1.5rem 0;
    border: 0;
    outline: none;
    color: #151515;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    width: 100%;
    background: transparent;
    border-bottom: 2px solid rgba(0,0,0,.5);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn.btn--primary, button.btn--primary, input[type="submit"].btn--primary, input[type="reset"].btn--primary, input[type="button"].btn--primary {
    background: #000;
    border-color: #000;
    color: #fff;
}

.btn.full-width, button.full-width {
    width: 100%;
    margin-right: 0;
    height: 5.4rem;
    margin-bottom: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 1400px){
    #header-content {
        padding: 0;
    }
}

@media only screen and (max-width: 1200px){
    [class*="col-"] {
        padding: 0 15px;
    }
    .home-header-hearo .featured{
        height: auto;
    }
    .featured-column-big .home-main {
        height: 522px;
    }
    .s-footer__main>.row {
        max-width: 800px;
    }
    .s-footer__sitelinks{
        margin-bottom: 3rem;
    }
    .md-four {
        width: 20%;
    }
}

@media only screen and (max-width: 1000px){
    #home-header-social {
        font-size: 2.1rem;
    }
    .featured-column-big {
        width: 60%;
    }
    .featured-column-big .home-main {
        height: 504px;
    }
    .featured-column-small{
        width: 40%;
    }
    .s-footer__subscribe{
        display: none;
    }
}

@media only screen and (max-width: 900px){
    #header-content {
        max-width: 780px;
    }
    .featured-column {
        float: none;
        width: 100%;
    }
    .featured-column-big .home-main {
        height: 468px;
    }
    .featured-column {
        float: none;
        width: 100%;
    }
    
}

@media only screen and (max-width: 800px){
    #home-header-social {
        display: none;
    }
    .featured .home-main-content {
        bottom: 2.4rem;
        padding: 0 10% 0 3rem;
    }
    .featured-column .home-main {
        height: 360px;
    }
    .featured .home-main-content h1 {
        font-size: 2rem;
        margin-bottom: 0rem;
    }

    .featured-column-big h1{
        font-size: 2rem;
        margin-bottom: 0rem;
    }
    .row {
        width: 90%;
    }
    .s-footer__linklist a {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 600px){
    .pageheader.home {
        padding-top: 150px;
    }
    .home-header-nav .header-nav {
        font-size: 0.9rem;
    }

    .home-header-hearo {
        padding: 0 0px;
    }

    .pageheader{
        width: 100vw;
    }

    ul.post-header-line-one {
        display: none;
    }
    .main-wrapper {
        background: none;
        padding: 0px 0;
    }

    .post-outer {
        padding-left: 0px;
    }
    .arrow-left {
        display: none;
    }

    .s-content__main {
        padding: 0px;
    }

    [class*="col-"] {
        float: none;
    }
}






